<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'global_head.html' %}
    <title>Versel Wallet</title>
</head>

<body>
    <div class="main">
        {% include 'global_body.html' %}
        <section class="home-container">
            <div class="home-div">
                <div class="header-div">
                    <h1>
                        <span class="header-class">
                            Versel Wallet
                        </span>
                    </h1>
                </div>
                <div class="wallet-details-div">
                    <div>
                        <a class="color-text"><b>Versel Credit Id</b> :</a>
                        <span>{{ user.vc_id }}</span><br>
                        <a class="color-text"><b>Locked Balance</b> :</a>
                        {% if user.vc_balance_locked %}
                        <br>
                        <table>
                            <thead>
                                <tr class="tr-head">
                                    <th class="th-amount">Amount</th>
                                    <th class="th-time">Unlock Date</th>
                                </tr>
                            </thead>
                            {% for balance in user.vc_balance_locked %}
                            <tbody>
                                <tr>
                                    <td class="td-amount">{{ balance.split()[0] }}</td>
                                    <td class="td-time">{{ balance.split()[1] }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                        {% else %}
                        <span>0</span><br>
                        {% endif %}
                        <a class="color-text"><b>Unlocked Balance </b> :</a>
                        <span>{{ user.vc_balance_unlocked }}</span><br>
                        <a class="color-text"><b>Total Balance </b>:</a>
                        <span>{{ user.vc_balance_total }}</span>
                    </div>
                    <div>
                        <h3 class="color-header">Transfer Versel Credit</h3>
                        <form method="post" action="/wallet"
                            onsubmit="return confirm('Are you sure you want to transfer Versel Credit to another account? This action cannot be undone.');"
                            class="login-form">
                            <div class="form-input-div">
                                <label for="recipient">Recipient</label> <a id="recipientUsername"
                                    class="color-text"></a>
                                <input type=" text" id="recipientInput" name="recipient"
                                    placeholder="Recipient Username or Wallet Address" required>
                            </div>
                            <div class="form-input-div">
                                <label for="amount">Amount</label>
                                <input type="number" id="amount" name="amount" placeholder="Amount" min="1" required>
                            </div>
                            <div class="form-input-div">
                                <label for="note">Note</label>
                                <input type="text" id="note" name="note" placeholder="Write a note">
                            </div>
                            <button class="sub-header-button" type="submit">Transfer</button>
                        </form>
                        <button class="sub-header-button"
                            onclick="window.location.href='{{ url_for('wallet_buy') }}'">Buy Versel Credit</button>
                        <button class="sub-header-button"
                            onclick="window.location.href='{{ url_for('transaction_history') }}'">Transaction
                            History</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        document.getElementById('recipientInput').addEventListener('input', function () {
            var identifier = this.value;
            if (identifier) {
                // Make an AJAX request to check if the identifier exists
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/check_identifier?identifier=' + identifier, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById('recipientUsername').innerHTML = ' :- ' + xhr.responseText;
                    }
                };
                xhr.send();
            } else {
                document.getElementById('recipientUsername').innerHTML = '';
            }
        });
    </script>
</body>

</html>